@import url(stylesheet.css);

iframe {
    width: 100%;
    overflow-y: visible;
}

#taka-menu li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    padding: 0 10px 0 0;
    border-right: 1px solid #000000;
}

#taka-menu li:last-of-type {
    border-right: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#downloads {
    width: 395px !important;
}

.zip_min_download_link {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/sprite_min_download.png) no-repeat bottom left;
}

.tar_min_download_link {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/sprite_min_download.png) no-repeat bottom right;
    margin-left: 10px;
}

.zip_min_download_link:hover {
    background: url(../images/sprite_min_download.png) no-repeat top left;
}

.tar_min_download_link:hover {
    background: url(../images/sprite_min_download.png) no-repeat top right;
}